<div>
    
    <div class="tab-pane active" id="menu">
        <div class="photo-container text-center">
                <img src="images/logo.jpg" alt="" class="img-circle dash-profile" />
            <div class="t-p">
                <a href="">Event Management System</a>
            </div>

        </div>
        <div class="section-heading">Menus</div>
        <ul class="nav sidebar-nav">
						<li  ng-class="{active: $state.includes('latest_event')}"><a ui-sref="latest_event" ng-click="showSubNav(0)"><i class="fa fa-bookmark-o"></i> <span class="menu-text">Latest Event</span></a></li>
			<li  ng-class="{active: $state.includes('search_event')}"><a ui-sref="search_event" ng-click="showSubNav(0)"><i class="fa fa-bookmark-o"></i> <span class="menu-text">Search Event</span></a></li>		
			<li  ng-class="{active: $state.includes('my_account')}"><a ui-sref="my_account" ng-click="showSubNav(0)"><i class="fa fa-bookmark-o"></i> <span class="menu-text">My Account</span></a></li>

    </div>
</div>